<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>店舗一覧</h1>
      </div>
    </div>
  </div>
<% end %>

<p><%= @shops.length %>件ヒットしました。</p>

<p class="hutoline"></p>

<div class="shoplist">

  <% @shops.each do |shop| %>
  
    <article class="shoplist-item">
  
      <div class="raw">

        <div class="col-xs-4"> 
          <div class="shoplist-thumb">
            <img class="mw100" src="<%= root_url %>images/icon/icon-no-image.png">
          </div>
        </div>
    
        <div class="col-xs-8"> 
          <div class="shoplist-cont">

            <p class="shoplist-title orange b"><%= shop.name %></p>
            <p><%= shop.y_address %><br><%= shop.y_moyorieki %></p>
            <p>緯度：<%= shop.y_ido %>　経度：<%= shop.y_keido %></p>


<p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
<p>いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい</p>
<p>ううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううう</p>



          </div>
        </div>
      </div>

    </article>
  <% end %>

</div>
