<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1><%= @shop.name %>について投稿します</h1>
      </div>
    </div>
  </div>
<% end %>

<p><%= @shop.name %></p>
<p><%= @shop.y_address %><br><%= @shop.y_moyorieki %></p>
<p>緯度：<%= @shop.y_ido %>　経度：<%= @shop.y_keido %></p>

<%= form_for @kuchikomi, url: kuchikomi_shop_path do |f| %>


<div class="form-group row">
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">子連れしやすい？</div>
			<div class="col-xs-6 btn-group" data-toggle="buttons">
			  <label class="btn btn-outline-secondary active"><%= f.radio_button :kozure_ok, '1' %>そうおもう</label>
		  	<label class="btn btn-outline-secondary active"><%= f.radio_button :kozure_ok, '2' %>おもわない</label>
		  </div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">客層はファミリー向け？</div>
			<div class="col-xs-6 btn-group" data-toggle="buttons">
			  <label class="btn btn-outline-secondary active"><%= f.radio_button :familymuke, '1' %>そうおもう</label>
			  <label class="btn btn-outline-secondary active"><%= f.radio_button :familymuke, '2' %>おもわない</label>
			</div>
		</div>
	</div>
</div>


<div class="raw">
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">子連れしやすい？</div>
			<div class="col-xs-6"><label><%= f.radio_button :kozure_ok, '1' %>そうおもう</label>　<label><%= f.radio_button :kozure_ok, '2' %>おもわない</label></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">客層はファミリー向け？</div>
			<div class="col-xs-6"><label><%= f.radio_button :familymuke, '1' %>そうおもう</label>　<label><%= f.radio_button :familymuke, '2' %>おもわない</label></div>
		</div>
	</div>
</div>


<div class="raw">
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">乳児OK？</div>
			<div class="col-xs-6"><label><%= f.radio_button :nyuji_ok, '1' %>そうおもう</label>　<label><%= f.radio_button :nyuji_ok, '2' %>おもわない</label></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">にぎやか？騒いでも大丈夫？</div>
			<div class="col-xs-6"><label><%= f.radio_button :nigiyaka, '1' %>そうおもう</label>　<label><%= f.radio_button :nigiyaka, '2' %>おもわない</label></div>
		</div>
	</div>
</div>


<div class="raw">
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">禁煙</div>
			<div class="col-xs-6"><label><%= f.radio_button :smoking, '1' %>禁煙</label>　<label><%= f.radio_button :smoking, '2' %>分煙</label>　<label><%= f.radio_button :smoking, '3' %>喫煙</label></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">キッズチェア</div>
			<div class="col-xs-6"><label><%= f.radio_button :kids_chair, '1' %>ある</label>　<label><%= f.radio_button :kids_chair, '2' %>ない</label></div>
		</div>
	</div>
</div>

<div class="raw">
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">キッズメニュー</div>
			<div class="col-xs-6"><label><%= f.radio_button :kids_menu, '1' %>ある</label>　<label><%= f.radio_button :kids_menu, '2' %>ない</label></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">子供食器ある？</div>
			<div class="col-xs-6"><label><%= f.radio_button :kids_syokki, '1' %>ある</label>　<label><%= f.radio_button :kids_syokki, '2' %>ない</label></div>
		</div>
	</div>
</div>


<div class="raw">
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">低アレルギー食</div>
			<div class="col-xs-6"><label><%= f.radio_button :low_allergy_food, '1' %>ある</label>　<label><%= f.radio_button :low_allergy_food, '2' %>ない</label></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">離乳食持ち込み</div>
			<div class="col-xs-6"><label><%= f.radio_button :motikomi, '1' %>OK</label>　<label><%= f.radio_button :motikomi, '2' %>NG</label></div>
		</div>
	</div>
</div>


<div class="raw">
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">座敷あり</div>
			<div class="col-xs-6"><label><%= f.radio_button :zasiki, '1' %>ある</label>　<label><%= f.radio_button :zasiki, '2' %>ない</label></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">個室・半個室あり</div>
			<div class="col-xs-6"><label><%= f.radio_button :kositu, '1' %>ある</label>　<label><%= f.radio_button :kositu, '2' %>ない</label></div>
		</div>
	</div>
</div>


<div class="raw">
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">授乳室</div>
			<div class="col-xs-6"><label><%= f.radio_button :junyusitu, '1' %>ある</label>　<label><%= f.radio_button :junyusitu, '2' %>ない</label></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">おむつ交換スペース</div>
			<div class="col-xs-6"><label><%= f.radio_button :omutu_space, '1' %>ある</label>　<label><%= f.radio_button :omutu_space, '2' %>ない</label></div>
		</div>
	</div>
</div>


<div class="raw">
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">キッズスペース</div>
			<div class="col-xs-6"><label><%= f.radio_button :kids_space, '1' %>ある</label>　<label><%= f.radio_button :kids_space, '2' %>ない</label></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">ベビーカー入店</div>
			<div class="col-xs-6"><label><%= f.radio_button :babycar, '1' %>OK</label>　<label><%= f.radio_button :babycar, '2' %>NG</label></div>
		</div>
	</div>
</div>


<div class="raw">
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">店内広い？</div>
			<div class="col-xs-6"><label><%= f.radio_button :hirosa, '1' %>そうおもう</label>　<label><%= f.radio_button :hirosa, '2' %>おもわない</label></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">席と席の間</div>
			<div class="col-xs-6"><label><%= f.radio_button :seki_hiroi, '1' %>広い</label>　<label><%= f.radio_button :seki_hiroi, '2' %>狭い</label></div>
		</div>
	</div>
</div>

<div class="raw">
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">空いてる？</div>
			<div class="col-xs-6"><label><%= f.radio_button :suiteru, '1' %>そうおもう</label>　<label><%= f.radio_button :suiteru, '2' %>おもわない</label></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">駐車場</div>
			<div class="col-xs-6"><label><%= f.radio_button :chusyajo, '1' %>ある</label>　<label><%= f.radio_button :chusyajo, '2' %>ない</label></div>
		</div>
	</div>
</div>


<div class="raw">
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">駅チカ</div>
			<div class="col-xs-6"><label><%= f.radio_button :ekitika, '1' %>そうおもう</label>　<label><%= f.radio_button :ekitika, '2' %>おもわない</label></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">アクセスしやすさ</div>
			<div class="col-xs-6"><label><%= f.radio_button :access, '1' %>しやすい</label>　<label><%= f.radio_button :access, '2' %>しにくい</label></div>
		</div>
	</div>
</div>


<div class="raw">
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">店の子供歓迎</div>
			<div class="col-xs-6"><label><%= f.radio_button :kangei, '1' %>そうおもう</label>　<label><%= f.radio_button :kangei, '2' %>おもわない</label></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">個室座敷の予約</div>
			<div class="col-xs-6"><label><%= f.radio_button :kositu_zasiki_yoyaku, '1' %>OK</label>　<label><%= f.radio_button :kositu_zasiki_yoyaku, '2' %>NG</label></div>
		</div>
	</div>
</div>


<div class="raw">
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">絵本・おもちゃ</div>
			<div class="col-xs-6"><label><%= f.radio_button :ehon_omocha, '1' %>ある</label>　<label><%= f.radio_button :ehon_omocha, '2' %>ない</label></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">エプロン</div>
			<div class="col-xs-6"><label><%= f.radio_button :epuron, '1' %>ある</label>　<label><%= f.radio_button :epuron, '2' %>ない</label></div>
		</div>
	</div>
</div>


<div class="raw">
	<div class="col-md-6">
		<div class="raw">
			<div class="col-xs-6">衛生的？</div>
			<div class="col-xs-6"><label><%= f.radio_button :eisei, '1' %>そうおもう</label>　<label><%= f.radio_button :eisei, '2' %>おもわない</label></div>
		</div>
	</div>
	<div class="col-md-6">
	&nbsp;
	</div>
</div>

<div class="raw">
	<div class="col-md-12">
    <label>コメント<br>
    <%= f.text_area :comment, :maxlength => "255", :size => "80x5"  %>
    </label>
  </div>
</div>

<div class="raw">
	<div class="col-md-12">
	    <%= f.submit '投稿する', class: 'btn btn-success'%>
  </div>
</div>
<% end %>

