<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,follow">
		
		<% @page_title = @shop.name + 'の口コミ投稿画面 | 子連れでランチしよう！パパママ口コミサイト - KoLuKu' %> 
		<title><%= @page_title %></title>

    <%= csrf_meta_tags %>

    <!-- app/assets/javascripts-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- app/assets/stylesheets -->
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- slick -->
		<link rel="stylesheet" type="text/css" href="/slick/slick.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/slick/slick-theme.css" media="screen" />
		
		<script src="/slick/slick.min.js"></script>
		
		<script type="text/javascript">
		$(function() {
		    $('.center-item').slick({
		          infinite: true,
		          dots:true,
		          slidesToShow: 1,
		          centerMode: true, 
		          centerPadding:'50px',
		          autoplay:false,
		          responsive: [{
		               breakpoint: 640,
		                    settings: {
		                         centerMode: false,
		               }
		          }]
		     });
		});
		</script>
	
	<!--ファイルアップボタン-->
	<script type="text/javascript">
	$(document).on('click', '#select_file_button', function() { 
	  $("#file_button").click();
	 })
	</script>
	
	<script type="text/javascript">
	$(document).on('change', '#file_button', function() { 
	  $('#filename').val($(this).val().replace(/^.*\\/, ""));
	 })
	</script>


  </head>
  <body>
    <%= render 'layouts/navbar' %>

  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1><%= @shop.name %>について<br>子連れで入りやすかシェアしてください</h1>
      </div>
    </div>
  </div>

  <div class="container">
      <%= render 'layouts/flash_messages' %>

	<div class="row">
	  <div class="col-md-9 left-contents">
	  	
	  	
	<p class="m20-t f12em b gray"><%= @shop.name %></p>
	<p><%= @shop.y_address %><br><%= @shop.y_moyorieki %></p>
	<!--<p>緯度：<%= @shop.y_ido %>　経度：<%= @shop.y_keido %></p>-->
	
	
	<p class="bd-btm m20-t"></p>
	
	<h2 class="m20-t m40-b fukidasi-midasi">店内写真をシェアします、ファイルを選択してください。</h2>

	
	横向き写真が見やすく推奨されます。
	<%= form_for @shop_photo, url: upload_path do |p| %>

	ファイルを選択
	<input id="filename" readonly type="text" value="" ><button type="button" id='select_file_button'>選択</button>
	<%= p.file_field :image, id: 'file_button' %>

	<%= p.hidden_field :shop_id, :value => @shop.id  %>
	<% if logged_in? %>
	<%= p.hidden_field :user_id, :value => current_user.id %>
	<% end %>
	<div class="al-c"><%= p.submit '選択した写真をアップロード', class: 'btn btn-default' %></div>
	<% end %>
	
		
	<% if @shop_photo_view.present? %>
	  <div class="photo-slide">
	    <ul class="center-item">
	      <% @shop_photo_view.each do |photo| %>
	        <li><%= image_tag photo.image %></li>
	      <% end %>
	    </ul>
	  </div>
	<% else %>
<!--	<p class="al-c red">※まだ写真が投稿されていません。</p>-->
	<% end %>
	
	
	<h2 class="m20-t m40-b fukidasi-midasi  bd-top">子供や赤ちゃん連れて行けるかな？</h2>
	
	<p class="m50-b">全てに答えなくて構わないので、わかった点、気づいた点だけでも投稿してシェアしてください。</p>
	
	<%= form_for @kuchikomi, url: kuchikomi_post_shop_path(@shop) do |f| %>
	<%= f.hidden_field :shop_id, :value => @shop.id  %>
	
	<% if logged_in? %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<% end %>
	
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">子連れしやすい？</div>
				<div class="col-xs-6 col-md-7">
						<ul class="radios">
							<li><%= f.radio_button :kozure_ok, '1' %><%= f.label :kozure_ok, 'はい' %></li> <!-- label forがラジオボタンのidとイコールじゃないけど大丈夫？ -->
							<li><%= f.radio_button :kozure_ok, '2' %><%= f.label :kozure_ok, 'いいえ' %></li>
						</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">客層はファミリー向け？</div>
				<div class="col-xs-6 col-md-7">
					<ul class="radios">
						<li><%= f.radio_button :familymuke, '1' %><%= f.label :familymuke, 'はい' %></li>
						<li><%= f.radio_button :familymuke, '2' %><%= f.label :familymuke, 'いいえ' %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">乳児OK？</div>
				<div class="col-xs-6 col-md-7">
					<ul class="radios">
						<li><%= f.radio_button :nyuji_ok, '1' %><%= f.label :nyuji_ok, 'はい' %></li>
						<li><%= f.radio_button :nyuji_ok, '2' %><%= f.label :nyuji_ok, 'いいえ' %></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">にぎやか？騒いでもよい？</div>
				<div class="col-xs-6 col-md-7">
					<ul class="radios">
						<li><%= f.radio_button :nigiyaka, '1' %><%= f.label :nigiyaka, 'はい' %></li>
						<li><%= f.radio_button :nigiyaka, '2' %><%= f.label :nigiyaka, 'いいえ' %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">禁煙</div>
				<div class="col-xs-6 col-md-7">
					<ul class="radios">
						<li><%= f.radio_button :smoking, '1' %><%= f.label :smoking, '禁煙' %></li>
						<li><%= f.radio_button :smoking, '2' %><%= f.label :smoking, '分煙' %></li>
						<li><%= f.radio_button :smoking, '3' %><%= f.label :smoking, '喫煙' %></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">キッズチェア</div>
				<div class="col-xs-6 col-md-7">
					<ul class="radios">
						<li><%= f.radio_button :kids_chair, '1' %><%= f.label :smoking, 'ある' %></li>
						<li><%= f.radio_button :kids_chair, '2' %><%= f.label :smoking, 'ない' %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">キッズメニュー</div>
				<div class="col-xs-6 col-md-7">
					<ul class="radios">
						<li><%= f.radio_button :kids_menu, '1' %><%= f.label :kids_menu, 'ある' %></li>
						<li><%= f.radio_button :kids_menu, '2' %><%= f.label :kids_menu, 'ない' %></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">子供食器ある？</div>
				<div class="col-xs-6 col-md-7">
					<ul class="radios">
						<li><%= f.radio_button :kids_syokki, '1' %><%= f.label :kids_syokki, 'ある' %></li>
						<li><%= f.radio_button :kids_syokki, '2' %><%= f.label :kids_syokki, 'ない' %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">低アレルギー食</div>
				<div class="col-xs-6 col-md-7">
					<ul class="radios">
						<li><%= f.radio_button :low_allergy_food, '1' %><%= f.label :low_allergy_food, 'ある' %></li>
						<li><%= f.radio_button :low_allergy_food, '2' %><%= f.label :low_allergy_food, 'ない' %></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">離乳食持ち込み</div>
				<div class="col-xs-6 col-md-7">
					<ul class="radios">
						<li><%= f.radio_button :motikomi, '1' %><%= f.label :motikomi, 'OK' %></li>
						<li><%= f.radio_button :motikomi, '2' %><%= f.label :motikomi, 'NG' %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">座敷あり</div>
				<div class="col-xs-6 col-md-7">
					<ul class="radios">
						<li><%= f.radio_button :zasiki, '1' %><%= f.label :zasiki, 'ある' %></li>
						<li><%= f.radio_button :zasiki, '2' %><%= f.label :zasiki, 'ない' %></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">個室・半個室あり</div>
				<div class="col-xs-6 col-md-7">
					<ul class="radios">
						<li><%= f.radio_button :kositu, '1' %><%= f.label :kositu, 'ある' %></li>
						<li><%= f.radio_button :kositu, '2' %><%= f.label :kositu, 'ない' %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">授乳室</div>
				<div class="col-xs-6 col-md-7">
					<ul class="radios">
						<li><%= f.radio_button :junyusitu, '1' %><%= f.label :junyusitu, 'ある' %></li>
						<li><%= f.radio_button :junyusitu, '2' %><%= f.label :junyusitu, 'ない' %></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">おむつ交換スペース</div>
				<div class="col-xs-6 col-md-7">
					<ul class="radios">
						<li><%= f.radio_button :omutu_space, '1' %><%= f.label :omutu_space, 'ある' %></li>
						<li><%= f.radio_button :omutu_space, '2' %><%= f.label :omutu_space, 'ない' %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">キッズスペース</div>
				<div class="col-xs-6 col-md-7">
					<ul class="radios">
						<li><%= f.radio_button :kids_space, '1' %><%= f.label :kids_space, 'ある' %></li>
						<li><%= f.radio_button :kids_space, '2' %><%= f.label :kids_space, 'ない' %></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">ベビーカー入店</div>
				<div class="col-xs-6 col-md-7">
					<ul class="radios">
						<li><%= f.radio_button :babycar, '1' %><%= f.label :babycar, 'OK' %></li>
						<li><%= f.radio_button :babycar, '2' %><%= f.label :babycar, 'NG' %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">店内広い？</div>
				<div class="col-xs-6 col-md-7">
					<ul class="radios">
						<li><%= f.radio_button :hirosa, '1' %><%= f.label :hirosa, 'はい' %></li>
						<li><%= f.radio_button :hirosa, '2' %><%= f.label :hirosa, 'いいえ' %></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">席と席の間</div>
				<div class="col-xs-6 col-md-7">
					<ul class="radios">
						<li><%= f.radio_button :seki_hiroi, '1' %><%= f.label :seki_hiroi, '広い' %></li>
						<li><%= f.radio_button :seki_hiroi, '2' %><%= f.label :seki_hiroi, '狭い' %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">空いてる？</div>
				<div class="col-xs-6 col-md-7">
					<ul class="radios">
						<li><%= f.radio_button :suiteru, '1' %><%= f.label :suiteru, 'はい' %></li>
						<li><%= f.radio_button :suiteru, '2' %><%= f.label :suiteru, 'いいえ' %></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">駐車場</div>
				<div class="col-xs-6 col-md-7">
					<ul class="radios">
						<li><%= f.radio_button :chusyajo, '1' %><%= f.label :chusyajo, 'ある' %></li>
						<li><%= f.radio_button :chusyajo, '2' %><%= f.label :chusyajo, 'ない' %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">駅チカ</div>
				<div class="col-xs-6 col-md-7">
					<ul class="radios">
						<li><%= f.radio_button :ekitika, '1' %><%= f.label :ekitika, 'はい' %></li>
						<li><%= f.radio_button :ekitika, '2' %><%= f.label :ekitika, 'いいえ' %></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">アクセスしやすい？</div>
				<div class="col-xs-6 col-md-7">
					<ul class="radios">
						<li><%= f.radio_button :access, '1' %><%= f.label :access, 'はい' %></li>
						<li><%= f.radio_button :access, '2' %><%= f.label :access, 'いいえ' %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">店は子供歓迎？</div>
				<div class="col-xs-6 col-md-7">
					<ul class="radios">
						<li><%= f.radio_button :kangei, '1' %><%= f.label :kangei, 'はい' %></li>
						<li><%= f.radio_button :kangei, '2' %><%= f.label :kangei, 'ふつう' %></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">個室座敷の予約</div>
				<div class="col-xs-6 col-md-7">
					<ul class="radios">
						<li><%= f.radio_button :kositu_zasiki_yoyaku, '1' %><%= f.label :kositu_zasiki_yoyaku, 'OK' %></li>
						<li><%= f.radio_button :kositu_zasiki_yoyaku, '2' %><%= f.label :kositu_zasiki_yoyaku, 'NG' %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">絵本・おもちゃ</div>
				<div class="col-xs-6 col-md-7">
					<ul class="radios">
						<li><%= f.radio_button :ehon_omocha, '1' %><%= f.label :ehon_omocha, 'ある' %></li>
						<li><%= f.radio_button :ehon_omocha, '2' %><%= f.label :ehon_omocha, 'ない' %></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">エプロン</div>
				<div class="col-xs-6 col-md-7">
					<ul class="radios">
						<li><%= f.radio_button :epuron, '1' %><%= f.label :epuron, 'ある' %></li>
						<li><%= f.radio_button :epuron, '2' %><%= f.label :epuron, 'ない' %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col-xs-6 col-md-5">衛生的？</div>
				<div class="col-xs-6 col-md-7">
					<ul class="radios">
						<li><%= f.radio_button :eisei, '1' %><%= f.label :epuron, 'はい' %></li>
						<li><%= f.radio_button :eisei, '2' %><%= f.label :epuron, 'いいえ' %></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
		&nbsp;
		</div>
	</div>
	
	
	
	<div class="row">
		<div class="col-md-12">
	    <%= f.label :comment, 'コメント（255文字まで記入できます）' %>
	    <%= f.text_area :comment, :maxlength => "255", :size => "80x5",  class: 'form-control'  %>
	  </div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
		    <%= f.submit '投稿する', class: 'btn btn-success'%>
	  </div>
	</div>
	<% end %>
	
	</div><!-- 左コンテンツ -->
	
		<div class="col-md-3"><!-- 右サイドメニュー -->
	<%= render 'layouts/side_menu' %>
	</div>

	</div>
	
	</div>

    <%= render 'layouts/footer' %>
  </body>
</html>