<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= page_title %></title>

    <%= csrf_meta_tags %>

    <!-- app/assets/javascripts-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <!-- app/assets/stylesheets -->
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!--画像をその場で拡大するscript -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>

</head>

<body>
<%= render 'layouts/navbar' %>
    
<div class="cover2">
    <div class="cover2-inner">
      <div class="cover2-contents">
        <h1><%= @shop.name %><br>子供連れ・赤ちゃんと入りやすい？口コミ情報</h1>
      </div>
    </div>
</div>


<div class="container">
  <%= render 'layouts/flash_messages' %>


<!--パンくずリスト-->
<%= render_breadcrumbs builder: ::CustomBreadcrumbsBuilder %>
    
    
<div class="row">
  <div class="col-md-9 left-contents" style="border:none;">

<div class="shop-info">
  <h2 class="m20-t f12em b orange"><%= @shop.name %></h2>
  <p class="f09em m10-l"><%= @shop.y_address %><br><%= @shop.y_moyorieki %></p>
  <!--<p>緯度：<%= @shop.y_ido %>　経度：<%= @shop.y_keido %></p>-->
</div>


<% if @shop_photos.present? %>
<div class="photo-cont">
	<% divflg =false %>
	
	<% if request.smart_phone? || request.tablet? %>
		<% @shop_photos.each_with_index do |photo, i| %>
			<% if (i % 3) == 0 %><div class="row"><% divflg = false %><% end %>
			<div class="col-xs-4 p3"><a href="<%= photo.image.url %>" data-lightbox="abc"><%= image_tag photo.image.thumb.url, class: "img-responsive" %></a></div>
			<% if (i % 3) == 2 %></div><% divflg = true %><% end %>
		<% end %>

	<% else %>
		<% @shop_photos.each_with_index do |photo, i| %>
			<% if (i % 4) == 0 %><div class="row"><% divflg = false %><% end %>
			<div class="col-xs-3 p3"><a href="<%= photo.image.url %>" data-lightbox="abc"><%= image_tag photo.image.thumb.url, class: "img-responsive" %></a></div>
			<% if (i % 4) == 3 %></div><% divflg = true %><% end %>
		<% end %>
	<% end %>
  <% if divflg == false %></div><% end %>
  <%= paginate @shop_photos %>
</div>
<% end %>

<div class="shop-kuchikomi m50-t">
  <h2 class="m20-t m40-b fukidasi-midasi">子供や赤ちゃん連れて行けるかな？</h2>
  
  <div class="row">
  	<div class="col-md-6 hg32">
  		<div class="row">
  			<div class="col-xs-5 lh32">子連れしやすい？</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="子連れしやすい">&nbsp;<span class="red b"><%= @kozure_ok_1 %></span>　　
          <img src="<%= root_path %>images/icon/icon-baby-04.png" alt="子連れしにくい">&nbsp;<span class="blue b"><%= @kozure_ok_2 %></span>
  			</div>
  		</div>
  	</div>
  	<div class="col-md-6">
  		<div class="row">
  			<div class="col-xs-5">客層はファミリー向け？</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="ファミリー向け">&nbsp;<span class="red b"><%= @familymuke_1 %></span>　　
          <img src="<%= root_path %>images/icon/icon-baby-04.png" alt="ファミリー向けではない">&nbsp;<span class="blue b"><%= @familymuke_2 %></span>
  			</div>
  		</div>
  	</div>
  </div>
  
  <div class="row">
  	<div class="col-md-6 hg32">
  		<div class="row">
  			<div class="col-xs-5 lh32">乳児OK？</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="乳児OK">&nbsp;<span class="red b"><%= @nyuji_ok_1 %></span>　　
          <img src="<%= root_path %>images/icon/icon-baby-04.png" alt="乳児NG">&nbsp;<span class="blue b"><%= @nyuji_ok_2 %></span>
  			</div>
  		</div>
  	</div>
  	<div class="col-md-6">
  		<div class="row">
  			<div class="col-xs-5">にぎやか？騒いでもよい？</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="にぎやか">&nbsp;<span class="red b"><%= @nigiyaka_1 %></span>　　
          <img src="<%= root_path %>images/icon/icon-baby-04.png" alt="静か">&nbsp;<span class="blue b"><%= @nigiyaka_2 %></span>
  			</div>
  		</div>
  	</div>
  </div>
  
  <div class="row">
  	<div class="col-md-6 hg32">
  		<div class="row">
  			<div class="col-xs-5 lh32">禁煙</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="禁煙">&nbsp;<span class="red b"><%= @smoking_1 %></span>　<img src="<%= root_path %>images/icon/icon-baby-02.png" alt="分煙">&nbsp;<span class="orange b"><%= @smoking_2 %></span>　<img src="<%= root_path %>images/icon/icon-baby-04.png" alt="喫煙">&nbsp;<span class="blue b"><%= @smoking_3 %></span>
  			</div>
  		</div>
  	</div>
  	<div class="col-md-6 hg32">
  		<div class="row">
  			<div class="col-xs-5 lh32">キッズチェア</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="キッズチェア有り">&nbsp;<span class="red b"><%= @kids_chair_1 %></span>　　
          <img src="<%= root_path %>images/icon/icon-baby-04.png" alt="キッズチェア無し">&nbsp;<span class="blue b"><%= @kids_chair_2 %></span>
  			</div>
  		</div>
  	</div>
  </div>
  
  <div class="row">
  	<div class="col-md-6 hg32">
  		<div class="row">
  			<div class="col-xs-5 lh32">キッズメニュー</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="キッズメニュー有り">&nbsp;<span class="red b"><%= @kids_menu_1 %></span>　　
          <img src="<%= root_path %>images/icon/icon-baby-04.png" alt="キッズメニュー無し">&nbsp;<span class="blue b"><%= @kids_menu_2 %></span>
  			</div>
  		</div>
  	</div>
  	<div class="col-md-6 hg32">
  		<div class="row">
  			<div class="col-xs-5 lh32">子供食器ある？</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="子ども食器あり">&nbsp;<span class="red b"><%= @kids_syokki_1 %></span>　　
          <img src="<%= root_path %>images/icon/icon-baby-04.png" alt="子ども食器なし">&nbsp;<span class="blue b"><%= @kids_syokki_2 %></span>
  			</div>
  		</div>
  	</div>
  </div>
  
  <div class="row">
  	<div class="col-md-6 hg32">
  		<div class="row">
  			<div class="col-xs-5 lh32">低アレルギー食</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="低アレルギー食あり">&nbsp;<span class="red b"><%= @low_allergy_food_1 %></span>　　
          <img src="<%= root_path %>images/icon/icon-baby-04.png" alt="低アレルギー食なし">&nbsp;<span class="blue b"><%= @low_allergy_food_2 %></span>
  			</div>
  		</div>
  	</div>
  	<div class="col-md-6 hg32">
  		<div class="row">
  			<div class="col-xs-5 lh32">離乳食持ち込み</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="離乳食持ち込みOK">&nbsp;<span class="red b"><%= @motikomi_1 %></span>　　
          <img src="<%= root_path %>images/icon/icon-baby-04.png" alt="離乳食持ち込みNG">&nbsp;<span class="blue b"><%= @motikomi_2 %></span>
  			</div>
  		</div>
  	</div>
  </div>
  
  <div class="row">
  	<div class="col-md-6 hg32">
  		<div class="row">
  			<div class="col-xs-5 lh32">座敷あり</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="座敷あり">&nbsp;<span class="red b"><%= @zasiki_1 %></span>　　
          <img src="<%= root_path %>images/icon/icon-baby-04.png" alt="座敷なし">&nbsp;<span class="blue b"><%= @zasiki_2 %></span>
  			</div>
  		</div>
  	</div>
  	<div class="col-md-6 hg32">
  		<div class="row">
  			<div class="col-xs-5 lh32">個室・半個室あり</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="個室・半個室あり">&nbsp;<span class="red b"><%= @kositu_1 %></span>　　
          <img src="<%= root_path %>images/icon/icon-baby-04.png" alt="個室・半個室なし">&nbsp;<span class="blue b"><%= @kositu_2 %></span>
  			</div>
  		</div>
  	</div>
  </div>
  
  <div class="row">
  	<div class="col-md-6 hg32">
  		<div class="row">
  			<div class="col-xs-5 lh32">授乳室</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="授乳室あり">&nbsp;<span class="red b"><%= @junyusitu_1 %></span>　　
          <img src="<%= root_path %>images/icon/icon-baby-04.png" alt="授乳室なし">&nbsp;<span class="blue b"><%= @junyusitu_2 %></span>
  			</div>
  		</div>
  	</div>
  	<div class="col-md-6">
  		<div class="row">
  			<div class="col-xs-5">おむつ交換スペース</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="おむつ交換スペース有り">&nbsp;<span class="red b"><%= @omutu_space_1 %></span>　　
          <img src="<%= root_path %>images/icon/icon-baby-04.png" alt="おむつ交換スペース無し">&nbsp;<span class="blue b"><%= @omutu_space_2 %></span>
  			</div>
  		</div>
  	</div>
  </div>
  
  <div class="row">
  	<div class="col-md-6 hg32">
  		<div class="row">
  			<div class="col-xs-5 lh32">キッズスペース</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="キッズスペース有り">&nbsp;<span class="red b"><%= @kids_space_1 %></span>　　
          <img src="<%= root_path %>images/icon/icon-baby-04.png" alt="キッズスペース無し">&nbsp;<span class="blue b"><%= @kids_space_2 %></span>
  			</div>
  		</div>
  	</div>
  	<div class="col-md-6 hg32">
  		<div class="row">
  			<div class="col-xs-5 lh32">ベビーカー入店</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="ベビーカー入店OK">&nbsp;<span class="red b"><%= @babycar_1 %></span>　　
          <img src="<%= root_path %>images/icon/icon-baby-04.png" alt="ベビーカー入店不可">&nbsp;<span class="blue b"><%= @babycar_2 %></span>
  			</div>
  		</div>
  	</div>
  </div>
  
  
  <div class="row">
  	<div class="col-md-6 hg32">
  		<div class="row">
  			<div class="col-xs-5 lh32">店内広い？</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="店内広い">&nbsp;<span class="red b"><%= @hirosa_1 %></span>　　
          <img src="<%= root_path %>images/icon/icon-baby-04.png" alt="店内狭い">&nbsp;<span class="blue b"><%= @hirosa_2 %></span>
  			</div>
  		</div>
  	</div>
  	<div class="col-md-6 hg32">
  		<div class="row">
  			<div class="col-xs-5 lh32">席と席の広さ</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="席と席の間が広い">&nbsp;<span class="red b"><%= @seki_hiroi_1 %></span>　　
          <img src="<%= root_path %>images/icon/icon-baby-04.png" alt="席と席の間が狭い">&nbsp;<span class="blue b"><%= @seki_hiroi_2 %></span>
  			</div>
  		</div>
  	</div>
  </div>
  
  
  <div class="row">
  	<div class="col-md-6 hg32">
  		<div class="row">
  			<div class="col-xs-5 lh32">空いてる？</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="空いてる">&nbsp;<span class="red b"><%= @suiteru_1 %></span>　　
          <img src="<%= root_path %>images/icon/icon-baby-04.png" alt="混雑してる">&nbsp;<span class="blue b"><%= @suiteru_2 %></span>
  			</div>
  		</div>
  	</div>
  	<div class="col-md-6 hg32">
  		<div class="row">
  			<div class="col-xs-5 lh32">駐車場</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="駐車場あり">&nbsp;<span class="red b"><%= @chusyajo_1 %></span>　　
          <img src="<%= root_path %>images/icon/icon-baby-04.png" alt="駐車場なし">&nbsp;<span class="blue b"><%= @chusyajo_2 %></span>
  			</div>
  		</div>
  	</div>
  </div>
  
  
  <div class="row">
  	<div class="col-md-6 hg32">
  		<div class="row">
  			<div class="col-xs-5 lh32">駅チカ</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="駅から近い">&nbsp;<span class="red b"><%= @ekitika_1 %></span>　　
          <img src="<%= root_path %>images/icon/icon-baby-04.png" alt="駅から遠い">&nbsp;<span class="blue b"><%= @ekitika_2 %></span>
  			</div>
  		</div>
  	</div>
  	<div class="col-md-6 hg32">
  		<div class="row">
  			<div class="col-xs-5 lh32">アクセスしやすさ</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="アクセスしやすい">&nbsp;<span class="red b"><%= @access_1 %></span>　　
          <img src="<%= root_path %>images/icon/icon-baby-04.png" alt="アクセスしにくい">&nbsp;<span class="blue b"><%= @access_2 %></span>
  			</div>
  		</div>
  	</div>
  </div>
  
  
  <div class="row">
  	<div class="col-md-6 hg32">
  		<div class="row">
  			<div class="col-xs-5 lh32">店の子供歓迎</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="子ども歓迎のお店">&nbsp;<span class="red b"><%= @kangei_1 %></span>　　
          <img src="<%= root_path %>images/icon/icon-baby-02.png" alt="ふつうのお店">&nbsp;<span class="blue b"><%= @kangei_2 %></span>
  			</div>
  		</div>
  	</div>
  	<div class="col-md-6 hg32">
  		<div class="row">
  			<div class="col-xs-5 lh32">個室座敷の予約</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="個室座敷の予約可">&nbsp;<span class="red b"><%= @kositu_zasiki_yoyaku_1 %></span>　　
          <img src="<%= root_path %>images/icon/icon-baby-04.png" alt="個室座敷の予約不可">&nbsp;<span class="blue b"><%= @kositu_zasiki_yoyaku_2 %></span>
  			</div>
  		</div>
  	</div>
  </div>
  
  <div class="row">
  	<div class="col-md-6 hg32">
  		<div class="row">
  			<div class="col-xs-5 lh32">絵本・おもちゃ</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="絵本・おもちゃ有り">&nbsp;<span class="red b"><%= @ehon_omocha_1 %></span>　　
          <img src="<%= root_path %>images/icon/icon-baby-04.png" alt="絵本・おもちゃ無し">&nbsp;<span class="blue b"><%= @ehon_omocha_2 %></span>
  			</div>
  		</div>
  	</div>
  	<div class="col-md-6 hg32">
  		<div class="row">
  			<div class="col-xs-5 lh32">エプロン</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="子どもエプロン有り">&nbsp;<span class="red b"><%= @epuron_1 %></span>　　
          <img src="<%= root_path %>images/icon/icon-baby-04.png" alt="子どもエプロン無し">&nbsp;<span class="blue b"><%= @epuron_2 %></span>
  			</div>
  		</div>
  	</div>
  </div>
  
  <div class="row">
  	<div class="col-md-6 hg32">
  		<div class="row">
  			<div class="col-xs-5 lh32">衛生的？</div>
  			<div class="col-xs-7">
          <img src="<%= root_path %>images/icon/icon-baby-03.png" alt="衛生的きれいなお店">&nbsp;<span class="red b"><%= @eisei_1 %></span>　　
          <img src="<%= root_path %>images/icon/icon-baby-04.png" alt="お店が綺麗じゃない">&nbsp;<span class="blue b"><%= @eisei_2 %></span>
  			</div>
  		</div>
  	</div>
  	<div class="col-md-6 hg32">
  	&nbsp;
  	</div>
  </div>

</div>


<div class="al-c m30-t">
  <%= link_to '写真や口コミを投稿する', kuchikomi_shop_path(@shop), class: "btn btn-toukou" %>
</div>

<div class="shop-comment m20-t">
  <h2 class="m20-t m40-b fukidasi-midasi">コメント一覧</h2>
  
  <% @user_comment_infos.each do |info| %>
    <% if info[:comment].present? %>
      <div class="chat-l">
      	<div class="talker">
      	  <% if info[:image].present? %>
      	    <img src="<%= info[:image] %>">
      	  <% else %>
      	    <img src="/images/icon/icon-mama-0<%= rand(1..9) %>-160px.png">
      	  <% end %>
        	<% if info[:nickname].present? %>
        	  <%= info[:nickname] %><br>
        	<% else %>
        	  匿名さん<br>
        	<% end %>
      	<span class="f07em lgray"><%= info[:updated_at].strftime("%Y年%m月%d日") %></span></div>
      	<div class="bubble-wrap">
      		<div class="bubble  rad8">
      		<div class="bubble-in">
      		<p><%= info[:comment] %></p>
      		</div>
      		</div>
      	</div>
      </div>
    <% end %>
  <% end %>

</div>

</div><!-- 左コンテンツ -->

  <div class="col-md-3"><!-- 右サイドメニュー -->
    <%= render 'layouts/side_menu' %>
  </div>

</div>

</div>

  <%= render 'layouts/footer' %>


</body>
</html>    