<div class="row">
  <aside class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.nickname %></h3>
      </div>
      <div class="panel-body al-c">
          <% if @user.image? %>
            <%= image_tag @user.image.url, :class => "mw100" %>
          <% else %>
            <%= image_tag("/images/icon/icon-mama-02-160px.png") %>
          <% end %>
      </div>
    </div>
  </aside>
  <div class="col-md-8">
  <p><span class="orange b"><%= @user.nickname %></span>
  &nbsp;<%= @user.live %>
  <% if @user.age.present? %> &nbsp;<%= @user.age %>代 <% end %>
  &nbsp;<%= @user.sex %></p>
  <p class="orange b">自己紹介</p>
  <p><%= simple_format(h(@user.intro)) %></p>
  </div>
</div>