<% content_for :header do %>
<meta name="robots" content="noindex,follow">
<% end %>

<% @mng = current_mng %>
<h1><%= @mng.name %>の管理画面</h1>
<p>権限レベル：<%= @mng.level %></p>

<% if @mng.level == 1 %>

  <%= form_for :shop, method: :get , url: shop_hensyu_path  do |f| %>
     <%= f.collection_select :id, @shops, :id, :name %>
     <%= f.submit 'お店を編集' %>
  <% end %>

  <p><%= @shop.name %>の紹介を編集します。</p>
  <%= form_for @shop, url: mng_shop_hensyu_path do |f| %>
    <%= hidden_field_tag :shop_id, @shop.id  %>
    <p>お店の紹介文</p>
	  <%= f.text_area :syoukai, cols: 100, rows: 30 %><br>
    <%= f.submit '更新' %>
  <% end %>



<% end %>  