<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 子連れランチ口コミサイト - コルク（KoLuKu） -->
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- app/assets/stylesheets -->
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- app/assets/javascripts-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- slick photo slideshow -->
    <%= yield :header %>
    
  </head>


  <body>

<header>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-left">
          <div class="col-xs-4">        <a href="/"><img src="/images/logo2.png" alt="KoLuKu"></a></div>
          <div class="col-xs-12"        <%= header_message.html_safe %></div>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <%= current_user.nickname %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'プロフィール', edit_user_path(current_user) %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to 'ユーザー登録', signup_path %></li>
            <li><%= link_to 'ログイン', login_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>



  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <img style="max-width:100%;" src ="/images/cover-bg4-1200x300-02.png">
      </div>
    </div>
  </div>


  <div class="container">
      <%= render 'layouts/flash_messages' %>
      
      <div class="search">
        <div class="row m5-r m5-l">
          <div class="text-center">
            <%= form_tag(shops_path, method: :get) do %>
              <div class="form-group form-inline">
                <%= text_field_tag :area, @area, class: 'form-control input-lg', placeholder: "地名", size: 5 %> × 
                <%= text_field_tag :tenpo_genre, @tenpo_genre, class: 'form-control input-lg', placeholder: "店名またはジャンル", size: 30 %>
                <%= submit_tag '検索', class: 'btn btn-success btn-lg m5-t' %>
              </div>
              <div class="form-group">
        				<label><%= radio_button_tag :option, '0' %>口コミがあるお店のみ表示</label>　
        				<label><%= radio_button_tag :option, '1',:checked %>すべてのお店を表示</label>
              </div>
            <% end %>
          </div>
        </div>
      </div>

  </div>
    

  <div class="container">

    <div class="row">
      <div class="col-md-9 left-contents"><!-- 左コンテンツ -->

      <h2>東京都</h2>

      <p>千代田区 / 中央区 / 港区 / 新宿区 / 文京区 / 台東区 / 墨田区 / 江東区 / 品川区 / 目黒区 / 大田区 / 世田谷区 / 
      渋谷区 / 中野区 / 杉並区 / 豊島区 / 北区 / 荒川区 / 板橋区 / 練馬区 / 足立区 / 葛飾区 / 江戸川区</p>
      
      <hr>
      
      <h2>神奈川県</h2>
      <p>横浜市 / 川崎市 / 相模原市 / 横須賀市 / 平塚市 / 鎌倉市 / 藤沢市 / 小田原市 / 茅ヶ崎市 / 逗子市 / 三浦市 / 秦野市 / 厚木市 / 大和市 / 伊勢原市 / 海老名市 / 座間市 / 南足柄市 / 綾瀬市</p>
      
      <hr>
      
      <h2>埼玉県</h2>
      <p>さいたま市 / 川越市 / 熊谷市 / 川口市 / 行田市 / 秩父市 / 所沢市 / 飯能市 / 加須市 / 本庄市 / 東松山市 / 春日部市 / 狭山市 / 羽生市 / 鴻巣市 / 深谷市 / 上尾市 / 草加市 / 越谷市 / 蕨市 / 戸田市 / 入間市 / 朝霞市 / 志木市 / 和光市 / 新座市 / 桶川市 / 久喜市 / 北本市 / 八潮市 / 富士見市 / 三郷市 / 蓮田市 / 坂戸市 / 幸手市 / 鶴ヶ島市 / 日高市 / 吉川市 / ふじみ野市 / 白岡市</p>
      
      <hr>
        
      <h2>千葉県</h2>
      <p>千葉市 / 銚子市 / 市川市 / 船橋市 / 館山市 / 木更津市 / 松戸市 / 野田市 / 茂原市 / 成田市 / 佐倉市 / 東金市 / 旭市 / 習志野市 / 柏市 / 勝浦市 / 市原市 / 流山市 / 八千代市 / 我孫子市 / 鴨川市 / 鎌ケ谷市 / 君津市 / 富津市 / 浦安市 / 四街道市 / 袖ケ浦市 / 八街市 / 印西市 / 白井市 / 富里市 / 南房総市 / 匝瑳市 / 香取市 / 山武市 / いすみ市 / 大網白里市</p>


      </div>

    <div class="col-md-3"><!-- 右サイドメニュー -->
      <%= render 'layouts/side_menu' %>
    </div>
  </div>
  
    <%= render 'layouts/footer' %>
    
  </body>
</html>



