<header>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-left">
          <div class="col-xs-4">        <a href="/"><img src="/images/logo3.png" alt="KoLuKu"></a></div>
          <div class="col-xs-12">        <%= header_message.html_safe %></div>
        </div>
      </div>

      <div class="right">

        <div class="left m10-t">
          <%= form_tag(shops_path, method: :get) do %>
            <div class="form-inline">
<div class="popupModal1">
 <input type="radio" name="modalPop" id="pop11" />
 <label class="popupbtn" for="pop11">こだわり検索はこちら≫</label>
 <input type="radio" name="modalPop" id="pop12" />
 <label for="pop12">CLOSE</label>
 <input type="radio" name="modalPop" id="pop13" />
 <label for="pop13">×</label>
 <div class="modalPopup2">
  <div class="modalPopup3">
   <h2 class="modalTitle">こだわり検索します！チェックを入れて閉じてからもう1度検索を押してください♪</h2>
   <div class="modalMain">
      <div class="row">
      <div class="col-xs-6"><%= check_box_tag '[kodawari]kozure_ok' %> 子連れOK</div><div class="col-xs-6"><%= check_box_tag '[kodawari]familymuke' %> 客層はファミリー向け</div>
      </div>
      <div class="row">
      <div class="col-xs-6"><%= check_box_tag '[kodawari]nyuji_ok' %> 乳児OK</div><div class="col-xs-6"><%= check_box_tag '[kodawari]nigiyaka' %> にぎやか</div>
      </div>
<hr>
<div class="row">
  <div class="col-xs-6"><%= check_box_tag '[kodawari]kids_chair' %> キッズチェア</div>
  <div class="col-xs-6"><%= check_box_tag '[kodawari]kids_menu' %> キッズメニュー</div>
</div>
<div class="row">
  <div class="col-xs-6"><%= check_box_tag '[kodawari]kids_syokki' %> 子供食器</div>
  <div class="col-xs-6"><%= check_box_tag '[kodawari]low_allergy_food' %> 低アレルギー</div>
</div>
<div class="row">
  <div class="col-xs-6"><%= check_box_tag '[kodawari]motikomi' %> 離乳食持ち込み</div>
  <div class="col-xs-6"><%= check_box_tag '[kodawari]epuron' %> エプロン</div>
</div>
<hr>
<div class="row">
  <div class="col-xs-6"><%= check_box_tag '[kodawari]junyusitu' %> 授乳室</div>
  <div class="col-xs-6"><%= check_box_tag '[kodawari]omutu_space' %> おむつ台</div>
</div>
<div class="row">
  <div class="col-xs-6"><%= check_box_tag '[kodawari]kids_space' %> キッズスペース</div>
  <div class="col-xs-6"><%= check_box_tag '[kodawari]babycar' %> ベビーカー入店</div>
</div>
<hr>
<div class="row">
  <div class="col-xs-6"><%= check_box_tag '[kodawari]zasiki' %> 座敷</div>
  <div class="col-xs-6"><%= check_box_tag '[kodawari]kositu' %> 個室・半個室</div>
</div>
<hr>
<div class="row">
  <div class="col-xs-6"><%= check_box_tag '[kodawari]smoking' %> 禁煙</div>
  <div class="col-xs-6"><%= check_box_tag '[kodawari]hirosa' %> 店内広い</div>
</div>
<div class="row">
  <div class="col-xs-6"><%= check_box_tag '[kodawari]seki_hiroi' %> 席と席の間が広い</div>
  <div class="col-xs-6"><%= check_box_tag '[kodawari]suiteru' %> 空いてる</div>
</div>

<div class="row">
  <div class="col-xs-6"><%= check_box_tag '[kodawari]chusyajo' %> 駐車場</div>
  <div class="col-xs-6"><%= check_box_tag '[kodawari]ekitika' %> 駅チカ</div>
</div>
<div class="row">
  <div class="col-xs-12"><%= check_box_tag '[kodawari]access' %> アクセスしやすい</div>
</div>
<hr>
<div class="row">
  <div class="col-xs-6"><%= check_box_tag '[kodawari]kangei' %> 店の子供歓迎</div>
  <div class="col-xs-6"><%= check_box_tag '[kodawari]kositu_zasiki_yoyaku' %> 個室座敷の予約</div>
</div>
<div class="row">
  <div class="col-xs-6"><%= check_box_tag '[kodawari]ehon_omocha' %> 絵本・おもちゃ</div>
  <div class="col-xs-6"><%= check_box_tag '[kodawari]eisei' %> 衛生的</div>
</div>

   </div>
  </div>
 </div>
</div>
              <%= text_field_tag :area, @area, class: 'form-control form-control-sm btn-navinput', placeholder: "地名", size: 5 %> × 
              <%= text_field_tag :tenpo_genre, @tenpo_genre, class: 'form-control form-control-sm btn-navinput', placeholder: "店名、カフェ、ファミレス", size: 14 %>
              <!--<%= hidden_field_tag :option, '1' %>-->
              <%= submit_tag '検索', class: 'btn btn-navkensaku' %>
            </div>
          <% end %>
        </div>

        <div class="collapse navbar-collapse right" id="bs-example-navbar-collapse-1">

        <!--<ul class="nav">-->
        <ul class="nav navbar-nav navbar-right">

          <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <%= current_user.nickname %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'プロフィール', edit_user_path(current_user) %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to 'ユーザー登録', signup_path %></li>
            <li><%= link_to 'ログイン', login_path %></li>
          <% end %>
        </ul>

        </div>

        
      </div>
    </div>
    <div class="container al-r f08em b"><%= get_data1 %></div>
  </nav>
</header>

