<div class="snsbutton">
  <a href="https://www.facebook.com/share.php?url=<%= request.url %>" rel="nofollow" target="_blank"><img src ="/images/icon/facebook-icon2.png"></a>
  <a href="https://twitter.com/share?url=<%= request.url %>&text=<%= page_title %>" rel="nofollow" target="_blank"><img src ="/images/icon/twitter-icon2.png"></a>
  <a href="//b.hatena.ne.jp/add?mode=confirm&url=<%= request.url %>&title=<%= page_title %>" target="_blank" rel="nofollow"><img src ="/images/icon/hatena-icon2.png"></a>
</div>

