<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 子連れランチ口コミサイト - コルク（KoLuKu） -->
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- app/assets/stylesheets -->
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- app/assets/javascripts-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- slick photo slideshow -->
    <%= yield :header %>
    
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <%= yield :cover %>



    <div class="container">
      <%= render 'layouts/flash_messages' %>

      <div class="row m5-l m5-r">
        <!-- 左コンテンツ -->
        <div class="col-md-9 left-contents">
                  <%= yield %>
        </div>
      
        <!-- 右サイドメニュー -->
        <div class="col-md-3">
            <%= render 'layouts/side_menu' %>
        </div>
      </div>
    </div>
      
    <%= render 'layouts/footer' %>
    
  </body>
</html>